$bg-color: #262626;
$content-bg-color: #2e2e2e;
$active-color: #f7d748;
$color: #fffff0;

.custom-tabs {
    border: none !important;

    
    button {
        background-color: transparent !important;
        color: $color !important;
        font-weight: 600 !important;

        &.active {
            color: $active-color !important;
        }

        &:hover {
            color: $active-color !important;
        }
    }
   
    
}
.tab-content {
    
    max-height: calc(100vh - 19em) !important;
    overflow-y: auto; 
    transition: max-height 1s ease;
    display: block;

    &::-webkit-scrollbar {
        width: .3em;
        
    }
    
    &::-webkit-scrollbar-track {
        background: $content-bg-color;
        
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $active-color !important;
        border-radius: 10px;  
        
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: $color !important;
    }

    @media (max-width: 900px) {
        max-height: calc(100vh - 23em) !important;
    }
}
